body {
  background-image: url("../images/breweryBackground.jpg");
  font-family: 'Smythe', cursive;
  font-weight: bold; 
  /* letter-spacing: 1px;  */
}

h1 {
  font-family: 'Irish Grover', cursive;
  font-size: 50px; 
}

#start {
  font-family: 'Chicle', cursive;
}

.container {
  display: flex; 
  flex-direction: column; 
}

.jumbotron {
  margin-top: 50px; 
  padding: 10px;
  text-align: center; 
  background: rgba(248, 246, 246, 0.8); 
}

.btn {
  margin: 10px; 
  font-size: 25px; 
  border: none; 
  color: white; 
  background-color: #948e3a; 

  /* color: #aa2b2b; 
  color: #3c993c;  */
}


.btn:hover {
  background-color: rgb(102, 97, 25); 
  color: white; 
}

.btn:focus {
  /* background-color: rgb(102, 62, 25);  */
  color: white; 

}

#comment {
  color:  rgb(248, 246, 246); 
  text-shadow: 5px 5px black; 
  text-align: center; 
  opacity: 0; 
  
}



/* font-family: 'Irish Grover', cursive;
font-family: 'Smythe', cursive;
font-family: 'Chicle', cursive; */

